<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwa0rbgtHGzXcRPY7mEjPdfCc-F6ZouG0</string>
	<key>GCM_SENDER_ID</key>
	<string>299482337917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genz.EatEase</string>
	<key>PROJECT_ID</key>
	<string>eatease-2ab70</string>
	<key>STORAGE_BUCKET</key>
	<string>eatease-2ab70.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299482337917:ios:b7ceda784c820f77e81714</string>
</dict>
</plist>